body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e2f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #ffffff;
    position: relative;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.corner-logo {
    max-width: 50px;
}

.container {
    background-color: #3b8dbd;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.logo {
    max-width: 100px;
    margin-bottom: 20px;
}

h1 {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    max-width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 10px;
    font-size: 1em;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #b5f4eb;
    outline: none;
}

.analyze, .clear {
    background-color: #0549f5;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.analyze:hover, .clear:hover {
    background-color: #00b0b3;
    transform: translateY(-2px);
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    display: none;
}

#sentimentLabel {
    font-size: 1.2em;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
