<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analisis Ulasan Tokopedia</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <div class="top-right">
        <img src="static/logo.png" alt="Logo" class="logo">
    </div>
    <div class="container">
        <img src="static/logo.png" alt="Logo" class="logo">
        <h1>Sentiment Analisis Ulasan Tokopedia</h1>
        <input type="text" id="text" placeholder="Paste Ulasan anda disini..">
        <button class="analyze" onclick="analyzeSentiment()">Analisis</button>
        <button class="clear" onclick="clearText()">Bersihkan</button>
        <div id="result"></div>
        <div id="sentimentLabel"></div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>
